
*
{
    font-size: 20px;
    font-family: arial;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
body
{
   
    background-repeat: no-repeat;
    background-size: contain;   
    align-items: center;
}
#titulo
{
    background-image: url('fondo.gif');
    background-repeat: repeat-x;
    border-radius: 4px;
    width: max-content;
    margin-top: 170px;
    padding: 14px;
    box-shadow: 0px 0px 0px 5px;
}
#iniciarJuego
{
    border-radius: 4px;
    border: none;
    padding: 14px;
    box-shadow: 0px 5px 7px 3px;
}
#jugador1,#jugador2
{
    margin-top: 15px;
    border-radius: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: orange;  
}
@media screen and (min-width:655px) {
    header
    {
        position: relative;
        top: -65px;
    }
    }
