
*
{
    font-size: 25px;
    font-family: arial;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -25px;
}
body
{
   
    background-repeat: no-repeat;
    background-size: contain;   
    align-items: center;
}
#titulo
{
    background-image: url('fondo.gif');
    border-radius: 4px;
    width: max-content;
    margin-top: 170px;
    padding: 14px;
    box-shadow: 0px 0px 0px 5px;
}
#iniciarJuego
{
    border-radius: 4px;
    border: none;
    padding: 14px;
    box-shadow: 0px 5px 7px 3px;
}
#jugador1,#jugador2
{
    margin-top: 15px;
    border-radius: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: orange;  
}
/* resolucion pantallas pequeñas */
@media screen and (min-width:280px) 
{
   * {font-size: 20px;} 
  
}
@media screen and (orientation: landscape) and (max-width:653px) {header{position: relative;top: -40px;}}

/* resolucion pantallas medianas */
@media screen and (min-width:360px)
{
   * {font-size: 25px;}
   
}
@media screen and (orientation: landscape) and (max-width:812px) {body{position: relative;top: 0;}} 
/* resolucion pantallas grandes */
@media screen and (min-width:768px)
{
   * {font-size: 60px;}
}
@media screen and (orientation: landscape) and (max-width:900px) 
{
    * {overflow: hidden;}
  input[type='text'],h1,input[type='submit']{max-width: 100%;font-size: 25px;position: relative;top: -100px; }

} 
/* resolucion pantallas muy grandes */
@media screen and (min-width:1020px)
{
   * {font-size: 80px;}
}
